.botao{
    background-color: #ffcb47;
    text-align: 'Montserrat' sens-serif;
    font-weight: 700;
    color: #ffff;
    width: 100%;
    padding: 1rem;
    padding-bottom: 1rem;
    box-shadow: 10px 10px 30px #ffcb473d;
    border: none;
}