.lista-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    display: flex;
    align-items: center;
    width: 15rem;
    margin-bottom: 1rem;
}

.item-icone{
    display: block;
    margin-right: 1rem;

    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;

    background-color: var(--amarelo);
    background-size: 1.375rem;
    background-repeat: no-repeat;
    background-position: center;

}

.item-icone-mouse{
    background-image: url(../../img/icones/mouse.svg);
}
.item-icone-truck{
    background-image: url(../../img/icones/cart.svg);
}
.item-icone-card{
    background-image: url(../../img/icones/truck.svg);
}