:root{
    --amarelo: #ffcb47;
    --amarelo-transpa: #ffcb473d;
    --branco: #ffffff;
    --cinza: #909090;
    --preto: #202020;
    --preto-transpa:#0000000F;

    --familia-corpo: 'Monteserrat', sans-serif;
    --familia-titulo-destaque: 'Elsie Swash Caps', serif;

    --peso-titulo-destaque:900;
    --peso-botao:700;
    --peso-destaque:700;

    --tamanho-titulo: 1.375rem;
    --tamanho-titulo-destaque:2rem;
    --tamanho-corpo: 1rem;
    --tamanho-destaque: 1.375rem;

}